.item {
  border: 3px solid #F2F2F2;
  width: 427px;
  margin: 15px 15px 15px 0;


  .item-img {
    width: 421px;
    height: 441px;
  }

  .item-description {
    padding: 0 20px;
  }

  h4 {
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    line-height: 19.5px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  p {
    font-size: 19px;
    line-height: 28px;
    font-weight: 700;
  }
}