header {
  display: flex;
  flex-direction: row;
  height: 78px;
  width: 100%;
  background-color: #022B32;

  .logo {
    display: inline-block;
    padding: 25px 50px 25.7px 20px;
  }

  .link-page {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 26.65px 50px 27.35px 0;
    text-decoration: none;
  }

  .link-page:focus{
    text-decoration: underline;
  }
}