@import "react-alice-carousel/lib/scss/alice-carousel.scss";

.alice-carousel {
  margin: 0;
  width: 1331px;

  &__stage-item {

    .item {
      max-width: 100%;
      margin: 0 34px 0 1px;

      &__img {
        max-width: 230px;
      }
    }
  }

  &__next-btn,
  &__prev-btn {
    position: absolute;
    top: 208px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #F8F8F8;
    color: #757575;
    font-weight: 700;
    font-size: 24px;
    box-shadow: 0 3.4px 17px rgba(0, 0, 0, 0.1);
  }

  &__prev-btn [data-area]::after {
    content: '❮';
  }

  &__prev-btn {
    left: -34px;
  }

  &__next-btn [data-area]::after {
    content: '❯';
  }

  &__next-btn {
    right: 0;
  }

  &__prev-btn-item,
  &__next-btn-item {
    color: #757575;

    &:hover {
      color: #757575;
    }
  }
}


@media (max-width: 1400px) {
  .alice-carousel {
    width: 886px;
  }
}

@media (max-width: 910px) {
  .alice-carousel {
    width: 486px;
  }
}

